.brand-logo {
  width: 48px;
}

.bg-footer {
  background-color: #233e5b !important;
}

.social-logo {
  width: 40px;
  vertical-align: middle;
  box-shadow: 8px #888888;
}

/* h1 {
  color: white !important;
}

h2 {
  color: white !important;
} */

.main-pic {
  width: 10%;
  height: 10%;
}
.containerMission {
  margin: 0 auto;
  height: auto;
  padding: 100px;
  color: #233e5b !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* 
.text-center {
  color: white !important;
} */

a {
  color: white !important;
}
/* .form-group {
  color: white !important;
} */
body {
  background-image: url(../images/bg.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  background-color: #29313a;
}
#indexImage {
  width: 150px;
  height: 140px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

#indexContainer {
  /* color: #233e5b !important; */
  height: 85vh;
  margin: 0 auto;
  padding: 200px 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#welcome {
  font-size: 6em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  text-shadow: 5px 6px #696969;
  color: #fff5ee !important;
  font-weight: bolder;
  display: inline-block;
  margin: 0 auto;
}

/* #todoicon {
  text-shadow: 3px 3px #696969 !important;
} */

#label1 {
  justify-content: center;
  display: flex;
  font-size: 1.6em;
  font-family: cursive;
  font-weight: bolder;
  align-items: center;
  display: block;
  color: #233e5b !important;
  text-shadow: 1px 1px white;
  margin: 0 auto;
}
#label2 {
  font-size: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-weight: bolder; */
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
#indexBtn {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: bolder;
}

#loginContainer {
  color: #233e5b !important;
  height: 85vh;
  margin: auto;
  padding: 100px;
  justify-content: center;
  display: flex;
}

#loginLabel {
  color: #233e5b !important;
}

#registerContainer {
  height: 85vh;
  margin: auto;
  padding: 100px;
  justify-content: center;
  display: flex;
  color: #233e5b !important;
}

.btn-primary {
  background-color: #233e5b !important;
}
